---
title: Independent Space Index 2021
layout: default
---

<div class="infogrid">
    <div class="infogrid__element">
        Independent <br>
        Space
    </div>
    <div class="infogrid__element">
        Index 🎯
    </div>
    <div class="infogrid__element">
        ❣️ 2021    
    </div>
    <div class="infogrid__element">
        Sat+Sun <br>
        📅 03. – 04. Juli
    </div>
    <div class="infogrid__element">
        📍 WIEN
    </div>
    <div class="infogrid__element">
        12:00 <br>
        —19:00 ⏰
    </div>
</div>